/* Container Styles */
.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px 30px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.heading {
  color: #0ae3eb;
  font-weight: 700;
  /* font-size: 16px; */

}

/* Input Group */
.input-group {
  position: relative;
  margin: 15px 0;
}

.input-group input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.input-group img {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 20px;
}

.input-group.input-error input {
  border-color: #ff4d4f;
}

.input-group input:focus {
  border-color: #48c2c7;
  box-shadow: 0 0 5px rgba(72, 194, 199, 0.5);
}

/* Error Message */
.error {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: -10px;
  text-align: left;
}

/* Checkbox */
.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0;
}

.checkbox-group label {
  font-size: 14px;
  margin-left: 8px;
  color: #555;
}

/* Buttons */
.submit-btn {
  width: 100%;
  padding: 12px 20px;
  background-color: #48c2c7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #37a3a7;
}

.toggle {
  text-align: center;
  font-size: 14px;
  color: #333;
  /* Dark gray text for contrast */
  margin-top: 15px;
}

.toggle a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.toggle a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.signin-btn {
  background-color: #e09b06;
  color: white;
  font-size: 18px;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  /* margin-top: 10px; */
}

.signin-btn:hover {
  background-color: #975c03;
}