
.check-currency-btn {
  background-color: #1b1c1a;
  color: #fff;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.check-currency-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.currency-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 10px;
  /* background-color: #4CAF50; */
}

.currency-card label {
  font-size: 16px;
  font-weight: 500;
  color: #e8e6e6;
  margin-bottom: 5px;
}

.currency-card select,
.currency-card input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 400px;
  box-sizing: border-box;
  margin-top: 5px;
}

.currency-card input[type="number"] {
  text-align: left;
}

.currency-card select {
  background-color: #3f3f3f;
}

.currency-card select:focus,
.currency-card input:focus {
  border-color: #4CAF50;
  outline: none;
}

.currency-card div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Responsive Styles */
@media (max-width: 768px) {

  .check-currency-btn {
    font-size: 16px;
    padding: 8px 28px;
}
  .currency-card {
      gap: 15px;
  }

  .currency-card select,
  .currency-card input {
      width: 100%;
  }
}

@media (max-width: 480px) {
  .check-currency-btn {
      font-size: 16px;
      padding: 8px 42px;
  }

  .currency-card label {
      font-size: 14px;
  }

  .currency-card select,
  .currency-card input {
      font-size: 14px;
      padding: 8px;
  }
}