
.footerStyles {
    background-color: #0d1b2a;
    color: white;
    padding: 20px 150px;
    font-family: Arial, sans-serif;
    /* border: 1px solid #ffffff;  */
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap; 
    /* border: 1px solid #ffffff; */
}

.footerLeft {
    flex: 1;
    text-align: left;
    /* border: 1px solid #ffffff; */
}

.footerLeft h3 {
    font-family: 'Cinzel', serif;
    font-size: 50px; 
    font-weight: bold; 
    margin-bottom: 10px;
    color: #f39c12;
}

.footerLeft p {
    font-size: 18px;
    margin-top: 5px;
}

.footerCenter {
    flex: 1;
    text-align: center;
    /* border: 1px solid #ffffff; */
}

.footerLinks {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px; 
    /* border: 1px solid #ffffff; */
}

.footerLinks li {
    margin: 0;
}

.footerLinks a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footerLinks a:hover {
    color: #f39c12; 
}

.footerRight {
    flex: 1;
    text-align: right;
    /* border: 1px solid #ffffff; */
}

.socialLinks {
    display: flex;
    gap: 20px; 
    justify-content: right; 
    margin-top: 20px;
}

.socialLinks a {
    color: white;
    font-size: 24px; 
    transition: color 0.3s ease;
    text-decoration: none;
}

.socialLinks a:hover {
    color: #f39c12; 
}

.footerCredits p {
    margin: 5px 0;
}

.footerCredits a {
    color: #f39c12;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footerCredits a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footerStyles {
        padding: 5px 30px;   
    }
    .footerContainer {
        flex-direction: column;
        align-items: center;
    }

    .footerLeft, .footerRight {
        text-align: center;
        /* margin-bottom: 1px; */
    }

    .footerCenter {
        display: none;
    }


    .footerLeft p {
        font-size: 12px;
    }
    .footerLeft h3 {
        font-size: 30px;   
    }

    .footerLinks a {
        font-size: 12px;
    }

    .socialLinks {

        justify-content: center; 

    }

    .socialLinks a {
        font-size: 12px;
    }

    .footerRight p {
        font-size: 12px;
    }
}

