
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #0d1b2a;
    color: white;
    padding: 30px 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* border: 1px solid #ccc; */
}

.navbar-left {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #ccc; */
}

.nav-buttons {
    display: flex;
    /* border: 1px solid #ccc; */
}

.navbar-left .icon-btn {
    background: none;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar-left .icon-btn:hover {
    color: #ffcc66;
}

.navbar-left .date {
    font-size: 18px;
    /* margin-top: 2px; */
    color: #b0c4de;
}

.hamburger-btn {
    background-color: transparent;
    color: #fafafa;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }

.navbar-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid #ccc; */
    
}

.brand-title {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    font-weight: bold;
    color: #ffcc66;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.navbar-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid #ccc; */
}

.nav-links {
    display: flex;
    /* border: 1px solid #ccc; */
}

.navbar-right .icon-link {
    color: white;
    text-decoration: none;
    padding: 3px 15px;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
    /* border: 1px solid #ccc; */
}

.navbar-right .icon-link:hover {
    color: #ffcc66;
}


.subscribe-section {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-content {
        display: none;
        flex-direction: column;
        background-color: #444;
        width: 100%;
        padding: 20px;
        position: absolute;
        top: 60px; /* Adjust based on navbar height */
        left: 0;
        z-index: 100;
      }
    .navbar {
        flex-direction: column;
        text-align: center;
        padding: 8px 58px;
    }

    .navbar-content.show-menu {
        display: flex;
      }
    
      .hamburger-btn {
        display: block;
      }

    .navbar-left {
        align-items: center;
        /* display: none; */
    }
    .navbar-left .nav-buttons {
        display: none;
    }

    .navbar-left .date {
        font-size: 14px;
        margin-left: 25px;
    }

    .navbar-right {
        display: none;
    }

    .navbar-right .nav-links {
        /* flex-direction: column; */
        display: none;
    }

    .brand-title {
        margin: 0 10px;
        font-size: 40px;

    }

    .navbar-right .icon-link,
    .navbar-right .signin-btn,
    .subscribe-btn {
        font-size: 12px;
    }
}