 select {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #1b1717;
    background-color: rgb(31, 27, 27);
    color: #ffffff;
    border: 1.5px solid #ddd
  }

  @media (max-width: 768px){
    select {
      padding: 8px 10px;
      font-size: 16px;
    }
    
  }