.signin-btn {
  background-color: #e09b06;
  color: white;
  font-size: 18px;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  /* margin-top: 10px; */
}

.signin-btn:hover {
  background-color: #975c03;
}

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  background-color: #d8d8d8;
  border-radius: 5px;
}

.account-container h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.account-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.account-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.account-container button {
  padding: 10px 20px;
  background-color: #857806;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-container button:hover {
  background-color: #594c03;
}

.welcome-message {
  margin-top: 20px;
  text-align: center;
  color: #555;
}

.welcome-message h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.welcome-message p {
  font-size: 14px;
  color: #666;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .modal-content {
    width: 80%;
  }

  .account-container form {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 90%;
  }

  .signin-btn {
    font-size: 16px;
    padding: 8px 20px;
  }

  .account-container input {
    font-size: 14px;
  }

  .account-container button {
    font-size: 14px;
    padding: 8px 15px;
  }

  .welcome-message h3 {
    font-size: 16px;
  }

  .welcome-message p {
    font-size: 12px;
  }
}