.account-container {
    margin: 50px auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: #4d4141;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .account-container h2 {
    margin-bottom: 20px;
  }
  
  .account-container input {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .account-container button {
    width: 100%;
    padding: 10px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .account-container button:hover {
    background-color: #ffcc66;
  }
  
  .welcome-message {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  