
.check-weather-btn {
    background-color: #1b1c1a;
    color: #fff;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.check-weather-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.modal-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Input Group Styles */
.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.input-group button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.input-group button:hover {
    background-color: #45a049;
}

.input-group p {
    font-size: 14px;
    margin: 0;
}

/* Weather Card Styles */
.weather-card {
    background-color: #89ddf0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
}

.weather-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

.weather-card p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
}

.weather-card strong {
    color: #000;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .check-weather-btn {
        font-size: 16px;
        padding: 8px 18px;
    }

    .input-group input,
    .weather-card {
        width: 90%;
    }
}

@media (max-width: 480px) {

    .input-group input,
    .weather-card {
        width: 90%;
    }

    .check-weather-btn {
        /* font-size: 14px; */
        /* padding: 6px 15px; */
    }

    .weather-card p {
        font-size: 14px;
    }
}