body {
  background-color: #f4f4f4;
  color: #333;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h3 {
  margin: 0;
  padding: 0;
}

.searchnews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 8px 150px; 
  /* border: 0.5px solid #ffffff;  */
  border-radius: 5px;
}

.searchbar {
  display: flex;
  align-items: center;
}

.searchbar input[type="text"] {
  padding: 10px 8px;
  border: 2px solid #141312; 
  border-radius: 3px;
  margin-right: 10px;
  width: 200px;
  border: 1px solid #2b2a2a;
}
.searchbar button {
  padding: 7.5px 20px;
  color: rgb(255, 255, 255);
  font-size: 17.5px;
  cursor: pointer;
  border-radius: 5px;
  border: 0.5px solid #ffffff; 
}

.srchbtn :hover{
  font-size: 20px;
}

.catogarybtn {
  display: flex;
  gap: 15px;
  flex-wrap: wrap; 
}

.catogarybtn button {
  padding: 10px 20px;
  background-color: #0d1b2a;
  color: white;
  border: 0.5px solid #ffffff; 
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.catogarybtn button:hover {
  background-color: #f39c12;
}

.news-weather-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 150px; 
  /* border: 1px solid #ddd;  */
  border-radius: 5px;
}

.newspaper-section {
  flex: 1; 
  text-align: left; 
}

.currency-section {
  flex: 1;
  text-align: center;
}

.weather-section {
  flex: 1; 
  text-align: right; 
}

@media (max-width: 768px) {
  .searchnews {
    flex-direction: column; 
    align-items: center;
    /* padding: 8px 40px; */
  }

  .searchbar input[type="text"] {
    /* padding: 5px 8px; */
    /* margin-bottom: 15px 30px; */
    width: 110px;
  }

  .searchbar button {
    /* padding: 0 20px; */
    /* font-size: 12px; */
  }

  .catogarybtn {
    display: none; 
  }

  .news-weather-container {
    flex-direction: column; 
    align-items: stretch; 
    padding: 4px 40px;
  }

  .newspaper-section,
  .weather-section ,
  .currency-section {
    text-align: center;
    margin-bottom: 5px; 
  }
}


@media (max-width: 480px) {
  body {
    font-size: 14px; 
  }

  .card-container {
    grid-template-columns: 1fr; 
    padding: 10px;
  }

  .searchbar input[type="text"] {
    padding: 10px;
    font-size: 16px;
  }

  .searchbar button {
    padding: 10px;
    font-size: 18px;
  }

  .catogarybtn button {
    padding: 12px;
    font-size: 18px;
  }
}